/* --------------------CHECK BOX -------------------*/

QCheckBox{
	color : @gray-text-color;
}
QCheckBox::indicator {
	border: 1px solid @gray-text-color;
	width: 12px;
	height: 12px;
	background: none;
}
QCheckBox::indicator:checked{
	background: @button-background-color;
}


/* --------------------LINE EDIT -------------------*/
QLineEdit{
	border-radius: 3px;
	border: 1px solid @gray-text-color;
	background : transparent;
	padding : 4px 10px 4px 10px;
	color: @default-text-color;
}
QLineEdit::disabled{
	border: 1px solid @disabled-color;
	color: @disabled-color;
}


/* --------------------COMBO BOX AND LIST VIEW -------------------*/
QComboBox{
	subcontrol-origin: padding;
	subcontrol-position: top right;
	selection-background-color: @gray-text-color;
	background-color: transparent;
	border-style: solid;
	padding: 1px 0px 1px 20px;
}
QComboBox:hover, QPushButton:hover{
	color: @gray-text-color;
	background-color: @panel-background-color;
}
QComboBox:!on{
	color:  @gray-text-color;
	background-color: transparent;
}
QComboBox QAbstractItemView{
	padding : 10px;
	background-color: @panel-background-color;
}
QComboBox QAbstractItemView::item {
	min-height: 25px;
	color : @gray-text-color;
	background-color: @panel-background-color;
	border:0px;
	text-align: center;
}
QListView::item:selected {
	border-radius: 5px;
	border: 1px solid @default-text-color;
	color : @default-text-color;
}
QListView {
	outline: 0;
	text-align: center;
}
QComboBox::drop-down{
	subcontrol-origin: padding;
	subcontrol-position: top right;
	width: 10px;
	border: 0px;
	padding-left: 5px;
}
QComboBox::down-arrow{
	image: url(:/images/down.png) ;
	width: 10px;
	height: 7px;
}



/* --------------------PAGE BUTTON -------------------*/
QPushButton[accessibleName="pageButton"]{
	background-color: @button-background-color;
	color : #FFFFFF;
	padding: 8px;
	border: 0;
}

QPushButton:hover[accessibleName="pageButton"]{
	background-color: @button-hover-background-color;
}
