QLineEdit {
	border-radius:3px;
	border:1px solid #555555;
	background-color:transparent;
	padding:4px 10px 4px 10px;
	color:#222222;
}


QLabel#titleLabel {
	color:#222222;
	padding:5px;
	font-size:14px;
	font-weight:normal;
}

QMainWindow {
	background-color:#FFFFFF;
}

QMainWindow {
	border:1px solid #aaaaaa;
}

QMainWindow QLabel#titleIconLabel {
	padding:5px;
}

QMainWindow QPushButton#closeButton {
	border:none;
	margin:1px;
}

QMainWindow QPushButton#closeButton:hover {
	background-color:#eeeeee;
}

QProgressBar#totalProgressBar {
	height:10px;
	border:none;
	margin:1px;
}

QProgressBar#totalProgressBar::chunk {
	background-color:#7dd1ee;
}

.AskPopupUI, QMessageBox {
	border:1px solid #cccccc;
	background-color:#FFFFFF;
}

.AskPopupUI QPushButton#buttonNo,
QMessageBox QPushButton, .AskPopupUI QPushButton#buttonYes {
	border-radius:3px;
	padding:5px;
}

.AskPopupUI QPushButton#buttonNo {
	border:1px solid gray;
	background-color:transparent;
	color:#4f5661;
}

.AskPopupUI QPushButton#buttonNo:hover {
	color:#FFFFFF;
	background-color:gray;
}

QMessageBox QPushButton, .AskPopupUI QPushButton#buttonYes {
	background-color:#12aa52;
	color:#FFFFFF;
}

QMessageBox QPushButton:hover, .AskPopupUI QPushButton#buttonYes:hover {
	background-color:#0c7438;
}

QMessageBox QLabel {
	color:#555555;
}

.AuthenticationDialogUI {
	border:1px solid #cccccc;
	background-color:#ffffff;
}

.AuthenticationDialogUI QLabel#titleLabel {
	color:#555555;
}

.AuthenticationDialogUI QDialogButtonBox QPushButton {
	border-radius:3px;
	border:1px solid gray;
	padding:5px;
	color:#4f5661;
}

.AuthenticationDialogUI QDialogButtonBox QPushButton:hover {
	color:#ffffff;
	background-color:#12aa52;
}

QMainWindow QLabel#currentFileLabel,
QMainWindow QLabel#remainingTimeLabel,
QMainWindow QLabel#serverNameLabel,
QMainWindow QLabel#speedLabel {
	color:#555555;
	padding:3px;
	margin:2px 10px;
	font-size:11px;
}

QMainWindow QLabel#serverNameLabel {
	font-weight:bold;
	color:#999999;
}

QMainWindow QLabel#serverLabel {
	color:#555555;
	padding:3px;
	margin:5px 10px;
	font-size:12px;
}

QWidget#widgetChangeImageButton QPushButton {
	border-radius:2px;
	background-color:#777777;
	margin:3px;
}

QWidget#widgetChangeImageButton QPushButton:hover,
QWidget#widgetChangeImageButton QPushButton:checked {
	background-color:#222222;
}

